* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background: url(../public/ATESIM_Main_Background.png) center;
  min-height: 100vh;
}

.App {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 30px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(63, 63, 63);
  width: 99%;
  height: 50px;
}
.tabs > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.activeTab {
  background-color: rgb(122, 122, 122);
}
.tab {
  font-size: 21px;
  background-color: rgb(202, 202, 202);
  color: rgb(184, 184, 184);
}
.table {
  table-layout: fixed;
  display: none;
}

.table_active {
  table-layout: fixed;
  width: 98vw;
  height: 50vh;
  overflow: hidden;
  border-collapse: collapse;
  color: aliceblue;
}

.tableContainer {
  width: 99vw;
  height: 60vh;
  gap: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 200, 255, 0.555);
}

th,
td {
  height: 3rem;
  border: 2.5px solid rgb(218, 218, 228);
  text-align: center;
}
td {
  font-size: 15px;
}

tr:nth-child(8) > td,
tr:nth-child(7) > td {
  border-top: 0px;
}
tr:nth-child(6) > td,
tr:nth-child(7) > td {
  border-bottom: 0px;
}

.gridContainer {
  width: 100%;
  height: 21.1em;
  background: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gridButtons {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgb(88, 90, 92);
}
.gridButtons:hover {
  background-color: rgb(38, 61, 80);
}
