* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto;
  background: url(../public/ATESIM_Main_Background.png) no-repeat center;
  min-height: 100vh;
}

.App {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 2.7em;
  background: rgb(2, 2, 2);
  font-size: 30px;
}
.baslik {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dateTime {
  padding-right: 0.3em;
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(63, 63, 63);
  width: 99%;
  height: 50px;
}
.tabs > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.activeTab {
  color: white;
  font-size: x-large;
  background-color: rgb(122, 122, 122);
}
.tab {
  font-size: 16px;
  background-color: rgb(59, 59, 59);
  color: rgba(150, 149, 149, 0.349);
}
.table {
  table-layout: fixed;
  display: none;
}

.table_active {
  table-layout: fixed;
  width: 98vw;
  height: 45vh;
  overflow: hidden;
  border-collapse: collapse;
  color: aliceblue;
}

.tableContainer {
  width: 99vw;
  height: 57.3vh;
  gap: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 90, 90, 0.555);
}

th,
td {
  height: 3rem;
  border: 2.5px solid rgb(218, 218, 228);
  text-align: center;
}

/* th
  td:nth-child(3)
  td:nth-child(6)
  td:nth-child(9)
  td:nth-child(12)
  td:nth-child(15)
  td:nth-child(18) {
  border-right: 4px solid rgb(218, 218, 228);
  height: 3rem;
  border: 2.5px solid rgb(218, 218, 228);
  text-align: center;
} */

#tab1 th,
#tab2 th,
#tab3 th {
  border-right: 4px solid rgb(218, 218, 228);
  border-top: 4px solid rgb(218, 218, 228);
  border-left: 4px solid rgb(218, 218, 228);
}

#tab1 td:nth-child(3),
#tab1 td:nth-child(6),
#tab1 td:nth-child(9),
#tab1 td:nth-child(12),
#tab1 td:nth-child(15),
#tab1 td:nth-child(18),
#tab2 td:nth-child(4),
#tab2 td:nth-child(8),
#tab2 td:nth-child(12),
#tab2 td:nth-child(16),
#tab2 td:nth-child(20),
#tab2 td:nth-child(24),
#tab3 td:nth-child(4),
#tab3 td:nth-child(7),
#tab3 td:nth-child(10) {
  border-right: 4px solid rgb(218, 218, 228);
}
#tab1 tr:nth-child(1),
#tab1 tr:nth-child(2),
#tab1 tr:nth-child(3),
#tab1 tr:nth-child(4),
#tab1 tr:nth-child(5),
#tab2 tr:nth-child(1),
#tab2 tr:nth-child(2),
#tab2 tr:nth-child(3),
#tab2 tr:nth-child(4),
#tab2 tr:nth-child(5),
#tab2 tr:nth-child(6),
#tab2 tr:nth-child(7),
#tab2 tr:nth-child(8),
#tab3 tr:nth-child(1),
#tab3 tr:nth-child(2) {
  border-left: 4px solid rgb(218, 218, 228);
}
#tab1 tr:last-child,
#tab2 tr:last-child,
#tab3 tr:last-child {
  border-bottom: 4px solid rgb(218, 218, 228);
}

tr:nth-child(8) > td,
tr:nth-child(7) > td {
  border-top: 0px;
}

tr:nth-child(6) > td,
tr:nth-child(7) > td {
  border-bottom: 0px;
}

.gridContainer {
  padding-left: 1.7em;
  padding-right: 1.7em;
  width: 100%;
  height: 19.8em;
  background: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gridButtons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 300px;
  white-space: pre-wrap;
  height: 80px;
  border-radius: 10px;
  font-size: 16px;
  color: whitesmoke;
  background: linear-gradient(
    to right,
    rgb(97, 102, 97) 25px,
    rgb(41, 42, 44) 20px
  );
}
.gridButtonsTab3 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  width: 180px;
  white-space: pre-wrap;
  height: 80px;
  border-radius: 10px;
  font-size: 16px;
  color: whitesmoke;
  background: linear-gradient(
    to right,
    rgb(97, 102, 97) 25px,
    rgb(41, 42, 44) 20px
  );
}

.gridbtns {
  display: none;
}

.line {
  display: none;
}
